
<!--<form (ngSubmit)="onSubmit()" #grupoForm="ngForm">
    <div>
        <table class="table table-bordered">

            <thead class="thead-inverse">
                <tr>
                    <th>Grupo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div <class="col-lg-6 col-sm-6 col-12">
                            <label>Imagen</label>
                            <label class="btn btn-block btn-primary">
                               &hellip;
                                <input type="file" style="display: none;" (change)="fileChangeEvent($event)">
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label>Nombre</label>
                        <input type="text" accept=".png, .jpg, .jpeg" class="form-control" [(ngModel)]="grupo.nombre" name="nombre" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        Información:
                        <textarea [(ngModel)]="grupo.informacion" name="descripcion" class="form-control" rows="5" id="comment" required></textarea>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td><input type="submit" class="btn btn-primary" value="Enviar" [disabled]="!grupoForm.form.valid"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</form>-->