<div class="login-form">
  <div class="top-login">
    <span>
      <img src="../../assets/logo2.png" width="200px" alt="">
    </span>
  </div>
  <!-- 728x90 -->
  <div class="login-top">
    <div *ngIf="error" [class]="classError">
      <strong>{{error}}</strong>
    </div>
    <!-- Login Form -->
    <form [formGroup]="form" (submit)="onResetUsername()" class='example-form'>

      <!-- Email Field -->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" formControlName="email">
        <mat-hint>Este campo es obligatorio!</mat-hint>
        <mat-error *ngIf="(form.controls.email.dirty && form.controls.email.errors?.minlength) || (form.controls.email.dirty && form.controls.email.errors?.maxlength)">
          Max length: 50, Min length: 5
        </mat-error>
        <mat-error *ngIf="form.controls.email.hasError('required')">
          El email es
          <strong>obligatorio</strong>
        </mat-error>
      </mat-form-field>

      <input [disabled]="!form.valid || loading " class="btn btn-primary" type="submit" value="Send email" />
    </form>
    <a class="badge badge-pill badge-primary" routerLink="/login" routerLinkActive="active" style="margin-top:10px;">Login</a>
  </div>
</div>