<div class="login-form">

  <div class="login-top">

    <div *ngIf="error" [class]="classError">
      <strong>{{error}}</strong>
      <a *ngIf='classError === "alert alert-success"' class="badge badge-pill badge-primary" routerLink="/login" routerLinkActive="active">Login</a>
    </div>

    {{user?.nombre}}

    <form [formGroup]="form" (submit)="onSetNewPassword()" class='example-form' [hidden]="disableFormParam">
      <!-- Password Input -->
      <div class="form-group">

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" formControlName="password" [type]='showHidePassword'>
          <mat-hint>Este campo es obligatorio!</mat-hint>
          <mat-error *ngIf="(form.controls.password.dirty && form.controls.password.errors?.minlength) || (form.controls.password.dirty && form.controls.password.errors?.maxlength)">
            Max length: 50, Min length: 5
          </mat-error>
          <mat-error *ngIf="form.controls.password.hasError('required')">
            La contraseña es
            <strong>obligatorio</strong>
          </mat-error>
          <mat-error *ngIf="form.controls.password.errors?.validatePassword && form.controls.password.dirty">
            Es necesario que la contraseña este bien formada.
          </mat-error>
          <mat-icon matSuffix (click)='changeInputType()'>remove_red_eye</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Confirmar contraseña" formControlName="confirm" [type]='showHideConfirm'>
          <mat-hint>Este campo es obligatorio!</mat-hint>
          <mat-error *ngIf="(form.controls.confirm.dirty && form.controls.confirm.errors?.minlength) || (form.controls.confirm.dirty && form.controls.confirm.errors?.maxlength)">
            Max length: 50, Min length: 5
          </mat-error>
          <mat-error *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">
            This field is required
          </mat-error>
          <mat-error *ngIf="form.errors?.matchingPasswords && form.controls.confirm.dirty">
            Las contraseñas no coinciden
          </mat-error>
          <mat-icon matSuffix (click)='changeConfirmInputType()'>remove_red_eye</mat-icon>
        </mat-form-field>
        <!-- Validation -->
        <ul class="list-group">
          <p *ngIf="form.errors?.matchingPasswords && form.controls.confirm.dirty" class="alert alert-warning">Password do not match</p>
        </ul>

        <div class="col-12">
          <button [disabled]="!form.valid || loading" class="float-right" mat-button type="submit" color="accent">Cambiar contraseña</button>
        </div>
      </div>
    </form>

    <!-- <label for="password" class="text-white">Password</label>
      <div [ngClass]="{'has-error': (form.controls.password.errors && form.controls.password.dirty), 'has-success': !form.controls.password.errors}">
        <input type="password" name="password" class="form-control" autocomplete="off" placeholder="*Password" formControlName="password"
        />
        <!- - Validation - ->
        <ul class="list-group">
          <p *ngIf="form.controls.password.errors?.required && form.controls.password.dirty" class="alert alert-danger">This field is required</p>
          <p *ngIf="form.controls.password.errors?.minlength && form.controls.password.dirty || form.controls.password.errors?.maxlength && form.controls.password.dirty"
            class="alert alert-warning">Minimum characters: 8, Maximum characters: 35</p>
          <p *ngIf="form.controls.password.errors?.validatePassword && form.controls.password.dirty" class="alert alert-warning">Need to be a valid password</p>
        </ul>
      </div>
    </div>

    <!- - Confirm Password Input - ->
    <div class="form-group">
      <label for="confirm" class="text-white">Confirm Password</label>
      <div [ngClass]="{'has-error': (form.controls.confirm.errors && form.controls.confirm.dirty) || (form.errors?.matchingPasswords && form.controls.confirm.dirty), 'has-success': !form.controls.confirm.errors && !form.errors?.matchingPasswords}">
        <input type="password" name="confirm" class="form-control" autocomplete="off" placeholder="*Confirm Password" formControlName="confirm"
        />
        <!- - Validation - ->
        <ul class="list-group">
          <p *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty" class="alert alert-danger">This field is required</p>
          <p *ngIf="form.errors?.matchingPasswords && form.controls.confirm.dirty" class="alert alert-warning">Password do not match</p>
        </ul>
      </div>-->
  </div>
</div>