<nav  style = "margin-bottom: 10px;margin-top:15px;">
    <h3 class="navbar-brand" href="#">Social UFV</h3>
    <a class="btn btn-secondary" routerLink="/usuarios" routerLinkActive="active">Usuarios</a>
    <a class="btn btn-secondary" routerLink="/grupos" routerLinkActive="active">Grupos</a>
     <a class="btn btn-secondary" routerLink="/calendario" routerLinkActive="active">Calendario</a>
    <a class="btn btn-info"  routerLink="/evento">Nuevo evento</a>
</nav>
<router-outlet></router-outlet>

