
<nav *ngIf="isLogged" class="navbar navbar-toggleable-md  navbar-inverse bg-inverse ">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="" style="cursor:pointer;">Social UFV</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item">
                <a class="nav-link" routerLink=""  routerLinkActive="active">Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/usuarios" routerLinkActive="active">Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/grupos" routerLinkActive="active">Grupos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/calendario" routerLinkActive="active">Calendario</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" role="button">
                    Nuevo
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/nuevo/grupo" routerLinkActive="active">Nuevo grupo</a>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <!--<li *ngIf="!isLogged">
                <a  class="nav-link" routerLink="/login" routerLinkActive="active">
                    Login</a>
            </li>-->
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" role="button">
                    {{userName}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" [routerLink]="['/user', userId]" routerLinkActive="active">Ver perfil</a>
                            <a class="dropdown-item" role="button" (click)="logout()">Logout</a>
                    </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container" id="contenido" style="background-color:#fff;margin-top:10px;padding-top: 5px;
padding-bottom: 10px; box-shadow:0 1px 6px rgba(0, 0, 0, 0.175);">
<router-outlet></router-outlet>
</div>

