<app-nav-bar></app-nav-bar>
<div class="container" id="contenido" style="background-color:#fff;margin-top:30px;padding-top: 15px;
padding-bottom: 15px;border-radius: 5px;margin-bottom: 40px;">
  <h1>Notificaciones</h1>

  <p *ngIf="grupos.length < 1"> Enhorabuena, no te quedan notificaciones por revisar!</p>

  <ng-template ngFor let-grupo [ngForOf]='grupos'>
    <h1 *ngIf='grupo.eventos.length > 0'>{{grupo.nombre}}</h1>
    <table class="table" *ngIf='grupo.eventos.length > 0'>
      <thead class="thead-dark">
        <tr>
          <th>Evento</th>
          <th>Name</th>
          <th>Confirmado</th>
          <th>Confirmacion</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-evento [ngForOf]='grupo.eventos'>
          <tr *ngFor='let person of evento.go; let i = index'>
            <td scope="row" *ngIf='i === 0' [attr.rowspan]="evento.go.length">{{evento.title}}</td>
            <td>{{person.name}}</td>

            <td>{{person.confirmed === true ? 'Asistencia Confirmada!' : person.confirmed === false ? 'No asistio' : 'Falta confirmacion'}}</td>
            <td>
              <div class="btn-group" role="group">
                <button mat-raised-button [class]="person.confirmed === true ? 'btn btn-success' : person.confirmed === false ? 'btn btn-warning' : 'btn btn-primary'"
                  [disabled]="!(person.confirmed !== true && person.confirmed !== false) || procesingRequest" (click)="sendConfirmToEvent(grupo.nombre, evento.title, person.name)">Si</button>
                <!-- <button mat-raised-button [class]="person.confirmed === true ? 'btn btn-success' : person.confirmed === false ? 'btn btn-warning' : 'btn btn-secondary'"
                  [disabled]="!(person.confirmed !== true && person.confirmed !== false) || procesingRequest" (click)="sendDenyToEvent(grupo.nombre, evento.title, person.name)">No</button> -->
                <button mat-raised-button [class]="person.confirmed === true ? 'btn btn-success' : person.confirmed === false ? 'btn btn-warning' : 'btn btn-secondary'"
                  [disabled]="!(person.confirmed !== true && person.confirmed !== false) || procesingRequest" (click)="openDialog(grupo.nombre, evento.title, person.name)">No</button>
              </div>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </ng-template>
</div>