<form  (ngSubmit)="onSubmit()" #eventoForm="ngForm">
        <div >
            <table class="table table-bordered">

                <thead class="thead-inverse">
                    <tr>
                        <th>Evento</th>
                    </tr>
                </thead>

                <tbody>
            <tr>
                <td><label>Grupo organizador</label>
                    <input type="text" class="form-control" value="Grupo" name="title" disabled>
                </td>
            </tr>
        <tr>
            <td>
                Título:
                <input type="text" class="form-control" [(ngModel)]="event.title" name="title" required>
                Descripción:
            <textarea [(ngModel)]="event.descripcion" name="descripcion" class="form-control" rows="5" id="comment" required></textarea>
            </td>
        </tr>
        <tr>
            <td>ECTs: <input type="number" step="0.01" class="form-control" name="creditos" [(ngModel)]="event.creditos"></td>
        </tr>
        <tr>
            <td>Fecha comienzo:
                <mwl-demo-utils-date-time-picker [(ngModel)]="event.start" name="start"  placeholder="Not set">
                </mwl-demo-utils-date-time-picker>
            </td>
        </tr>
        <tr>
            <td>Fecha fin:
                <mwl-demo-utils-date-time-picker [(ngModel)]="event.end" name="end" placeholder="Not set">
                </mwl-demo-utils-date-time-picker>
            </td>
        </tr>
            </tbody>
            <tfoot>
                <tr><td><input type="submit" class="btn btn-primary" value="Enviar" [disabled]="!eventoForm.form.valid"></td></tr>
            </tfoot>
            </table>
    </div>
</form>