<style>
    .login-form {
        padding: 100px 0px 50px 0px;
    }

    .top-login {
        width: 200px;
        height: 200px;
        display: block;
        -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
        -moz-transform: rotate(45deg) translate3d(0, 0, 0);
        -ms-transform: rotate(45deg) translate3d(0, 0, 0);
        -o-transform: rotate(45deg) translate3d(0, 0, 0);
        transform: rotate(45deg) translate3d(0, 0, 0);
        margin: 0 auto 4em;
        /* background: #fff;*/
        position: relative;
    }

    .login-top {
        max-width: 460px;
        display: block;
        margin: 0 auto;
    }

    .login-ic {
        background: rgba(255, 255, 255, 0.32);
        margin-bottom: 1.5em;
        padding: 8px;
    }

    .log-bwn {
        text-align: center;
    }

    .log-bwn input[type="submit"] {
        font-size: 15px;
        font-weight: 700;
        color: #fff;
        padding: 13px 0;
        background: #ff3366;
        display: inline-block;
        width: 100%;
        outline: none;
        border: 2px solid #ff3366;
        cursor: pointer;
        text-transform: uppercase;
    }

    .login-ic input[type="text"],
    .login-ic input[type="password"] {
        float: left;
        background: none;
        outline: none;
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        padding: 10px 16px;
        border: none;
        border-left: 1px solid #fff;
        width: 82%;
        display: inline-block;
        margin-left: 7px;
    }

    .login-form h1 {
        font-size: 2em;
        color: #fff;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 2em;
    }

    .clear {
        clear: both;
    }

    .top-login span img {
        /* -webkit-transform: rotate(-45deg) translate3d(0, 0, 0); */
        -moz-transform: rotate(-45deg) translate3d(0, 0, 0);
        -ms-transform: rotate(-45deg) translate3d(0, 0, 0);
        -o-transform: rotate(-45deg) translate3d(0, 0, 0);
        transform: rotate(-45deg) translate3d(0, 0, 0);
        margin-top: unset;
        margin-left: unset;
    }

    .login-ic label {
        font-size: 20px;
        color: white;
        float: left;
        display: inline-block;
    }
</style>
<div class="login-form">
    <div class="top-login">
        <span>
            <img src="../../assets/logo2.png" width="200px" alt="">
        </span>
    </div>
    <!---728x90-->
    <div class="login-top">
        

        <!-- Registration Form -->
        <form [formGroup]="form" (submit)="onRegisterSubmit()">
        
          <!-- Username Input -->
          <div class="form-group">
            <label for="username">Username</label>
            <div [ngClass]="{'has-error': (form.controls.username.errors && form.controls.username.dirty), 'has-success': !form.controls.username.errors}">
              <input type="text" name="username" class="form-control" autocomplete="off" placeholder="*Username" formControlName="username" />
              <!-- Validation -->
              <ul class="help-block">
                <li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">This field is required</li>
                <li *ngIf="form.controls.username.errors?.minlength && form.controls.username.dirty || form.controls.username.errors?.maxlength && form.controls.username.dirty ">Minimum characters: 3, Maximum characters: 15</li>
                <li *ngIf="form.controls.username.errors?.validateUsername && form.controls.username.dirty">Username must not have any special characters</li>
              </ul>
            </div>
          </div>
        
          <!-- Email Input -->
          <div class="form-group">
            <label for="email">Email</label>
            <div [ngClass]="{'has-error': (form.controls.email.errors && form.controls.email.dirty), 'has-success': !form.controls.email.errors}">
              <input type="text" name="email" class="form-control" autocomplete="off" placeholder="*Email" formControlName="email" />
              <!-- Validation -->
              <ul class="help-block">
                <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">This field is required</li>
                <li *ngIf="(form.controls.email.errors?.minlength && form.controls.email.dirty || form.controls.email.errors?.maxlength && form.controls.email.dirty ) && form.controls.email.dirty">Minimum characters: 5, Maximum characters: 30</li>
                <li *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty">This must be a valid e-mail</li>
              </ul>
            </div>
          </div>
        
          <!-- Password Input -->
          <div class="form-group">
            <label for="password">Password</label>
            <div [ngClass]="{'has-error': (form.controls.password.errors && form.controls.password.dirty), 'has-success': !form.controls.password.errors}">
              <input type="password" name="password" class="form-control" autocomplete="off" placeholder="*Password" formControlName="password" />
              <!-- Validation -->
              <ul class="help-block">
                  {{form.controls.password.errors?.validatePassword}}
                <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">This field is required</li>
                <li *ngIf="form.controls.password.errors?.minlength && form.controls.password.dirty || form.controls.password.errors?.maxlength && form.controls.password.dirty ">Minimum characters: 8, Maximum characters: 35</li>
                <li *ngIf="form.controls.password.errors?.validatePassword && form.controls.password.dirty">Need to be a valid password</li>
              </ul>
            </div>
          </div>
        
          <!-- Confirm Password Input -->
          <div class="form-group">
            <label for="confirm">Confirm Password</label>
            <div [ngClass]="{'has-error': (form.controls.confirm.errors && form.controls.confirm.dirty) || (form.errors?.matchingPasswords && form.controls.confirm.dirty), 'has-success': !form.controls.confirm.errors && !form.errors?.matchingPasswords}">
              <input type="password" name="confirm" class="form-control" autocomplete="off" placeholder="*Confirm Password" formControlName="confirm" />
              <!-- Validation -->
              <ul class="help-block">
                <li *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">This field is required</li>
                <li *ngIf="form.errors?.matchingPasswords && form.controls.confirm.dirty">Password do not match</li>
              </ul>
            </div>
          </div>
        
          <!-- Submit Input -->
          <input [disabled]="!form.valid" type="submit" class="btn btn-primary" value="Submit" />
        
        </form>
        <!-- Registration Form /-->
        <a class="btn btn-primary" routerLink="/login" routerLinkActive="active" style="margin-top:10px;">Login</a>
    </div>

    <p style="color:red" >Email: {{form.controls.email.value}} </p>
    <p style="color:red" >Username: {{form.controls.username.value}} </p>
    <p style="color:red" >password: {{form.controls.password.value}} </p>

</div>